<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
	<!--Linking the css -->
	<link rel ="stylesheet" href="/styles.css">
	
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="aboutus">About Us</a></li>
                <li><a href="phone-details">Phone Details</a></li>
            </ul>
        </nav>
    </header>
    
    <h1>Welcome to Our Home Page!</h1>
    <p>Here you can learn more about us and get in touch with us.</p>

</body>
</html>