<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        header {
            background-color: #f4f4f4;
            color: white;
            padding: 20px;
            text-align: center;
        }
        h1 {
            font-size: 2em;
            margin-bottom: 20px;
        }
        p {
            font-size: 1.2em;
            line-height: 1.6em;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="aboutus">About Us</a></li>
                <li><a href="phone-details">Phone Details</a></li>
            </ul>
        </nav>
    </header>
    
    <h1>Welcome to Our Home Page!</h1>
    <p>Here you can learn more about us and get in touch with us.</p>

</body>
</html>